{"http_interactions": [{"request": {"body": {"string": "grant_type=refresh_token&refresh_token=**********", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/x-www-form-urlencoded"], "Authorization": ["**********"]}, "method": "POST", "uri": "https://www.reddit.com/api/v1/access_token"}, "response": {"body": {"string": "{\"access_token\": \"**********\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"edit history identity mysubreddits privatemessages read report save submit subscribe vote\"}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "Content-Type": ["application/json; charset=UTF-8"]}, "status": {"message": "OK", "code": 200}, "url": "https://www.reddit.com/api/v1/access_token"}, "recorded_at": "2019-07-19T00:10:13"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/subreddits/mine/subscriber/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 3, \"children\": [{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": null, \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": true, \"wiki_enabled\": null, \"user_is_muted\": false, \"user_can_flair_in_sr\": null, \"display_name\": \"emacs\", \"header_img\": \"https://f.thumbs.redditmedia.com/1CBmBnoqVxNCXdVS.png\", \"title\": \"M-x emacs-reddit\", \"icon_size\": null, \"primary_color\": \"\", \"active_user_count\": null, \"icon_img\": \"\", \"display_name_prefixed\": \"r/emacs\", \"accounts_active\": null, \"public_traffic\": false, \"subscribers\": 30846, \"user_flair_richtext\": [], \"videostream_links_count\": 0, \"name\": \"t5_2qhwu\", \"quarantine\": false, \"hide_ads\": false, \"emojis_enabled\": false, \"advertiser_category\": \"\", \"public_description\": \"The extensible, customizable, self-documenting real-time display editor.\", \"comment_score_hide_mins\": 0, \"user_has_favorited\": false, \"user_flair_template_id\": null, \"community_icon\": \"\", \"banner_background_image\": \"\", \"original_content_tag_enabled\": false, \"submit_text\": \"\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EA sub-reddit for the timeless and infinitely powerful editor. \\u003Ca href=\\\"http://emacsrocks.com/\\\"\\u003EWant to see what Emacs is capable of?!\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cstrong\\u003EGet Emacs\\u003C/strong\\u003E\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003E\\u003Ca href=\\\"http://ftp.gnu.org/gnu/emacs/windows/\\\"\\u003EWindows\\u003C/a\\u003E\\u003C/li\\u003E\\n\[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_cf00mv\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"eu6927p\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"yourcheers\", \"num_comments\": 2, \"can_mod_post\": false, \"created_utc\": 1563494893.0, \"send_replies\": true, \"parent_id\": \"t1_eu68auu\", \"score\": 1, \"author_fullname\": \"t2_z9mq8\", \"over_18\": false, \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2qhwu\", \"body\": \"Looks like that didn't work, I might be missing something.\\n\\n\\u0026#x200B;\\n\\nFrom the following link found: \\\"(setq compilation-read-command nil) \\\" which helped.  \\n [https://www.emacswiki.org/emacs/CompileCommand](https://www.emacswiki.org/emacs/CompileCommand)\", \"link_title\": \"KDB macro execution\", \"author_flair_css_class\": null, \"name\": \"t1_eu6927p\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": true, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ELooks like that didn\\u0026#39;t work, I might be missing something.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u0026#x200B;\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EFrom the following link found: \\u0026quot;(setq compilation-read-command nil) \\u0026quot; which helped.\\u003Cbr/\\u003E\\n \\u003Ca href=\\\"https://www.emacswiki.org/emacs/CompileCommand\\\"\\u003Ehttps://www.emacswiki.org/emacs/CompileCommand\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"stickied\": false, \"can_gild\": true, \"subreddit\": \"emacs\", \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/emacs/comments/cf00mv/kdb_macro_execution/eu6927p/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/emacs/comments/cf00mv/kdb_macro_execution/\", \"report_reasons\": null, \"link_author\": \"yourcheers\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/emacs/comments/cf00mv/kdb_macro_execution/\", \"created\": 1563523693.0, \"collapsed\": false, \"subreddit_name_prefixed\": \"r/emacs\", \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_cf00mv\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"eu68auu\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": [...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100&before=t1_eu6927p"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["597.0"], "x-ratelimit-used": ["3"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["584"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100&before=t1_eu6927p"}, "recorded_at": "2019-07-19T00:10:16"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"I added the following kbd to compile, but when I execute, mini buffer shows the compile cmd, but it doesn't execute, I have to press enter to execute the cmd. What should I change to automatically execute the compile cmd when I press CTRL-z? \\n\\n\\u0026#x200B;\\n\\n(global-set-key (kbd \\\"\\\\\\\\C-z\\\") 'compile)\\n\\n\\u0026#x200B;\\n\\n(add-hook 'verilog-mode-hook\\n\\n(lambda ()\\n\\n(unless (or (file-exists-p \\\"makefile\\\")\\n\\n(file-exists-p \\\"Makefile\\\"))\\n\\n(set (make-local-variable 'compile-command)\\n\\n(concat \\\"vcs -sverilog -R -64 \\\\_\\\\_FILE\\\\_\\\\_ -o \\\"\\n\\n(if buffer-file-name\\n\\n(shell-quote-argument\\n\\n(file-name-sans-extension buffer-file-name))))))))\", \"author_fullname\": \"t2_z9mq8\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"KDB macro execution\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/emacs\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"hide_score\": true, \"name\": \"t3_cf00mv\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 2, \"total_awards_received\": 0, \"media_embed\": {}, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 2, \"approved_by\": null, \"thumbnail\": \"\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": true, \"mod_note\": null, \"created\": 1563521601.0, \"link_flair_type\": \"text\", \"wls\": 6, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"self.emacs\", \"allow_live_comments\": false, \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EI added the following kbd to compile, but when I execute, mini buffer shows the compile cmd, but it doesn\\u0026#39;t execute, I have to press enter to execute the cmd. What should I change to automatically execute the compile cmd when I press CTRL-z? \\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u0026#x200B;\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E(global-set-key (kbd \\u0026quot;\\\\C-z\\u0026quot;) \\u0026#39;compile)\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u0026#x200B;\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E(add-hook \\u0026#39;verilog-mode-hook\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E(lambda ()\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E(unless (or (file-exists-p \\u0026quot;makefile\\u0026quot;)\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E(file-exists-p \\u0026quot;Makefile\\u0026quot;))\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E(set (make-local-variable \\u0026#39;compile-command)\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E(concat \\u0026quot;vcs -sverilog -R -64 __FILE__ -o \\u0026quot;\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E(if buffer-file-name\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E(shell-quote-argument\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E(file-name-sans-extension buffer-file-name))))))))\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"media_only\": false, \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"visited\": false, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qhwu\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"cf00mv\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"yourcheers\", \"num_crossposts\": 0, \"num_comments\": 2, \"send_replies\": true, \"whitelist_status\": \"all_ads\", \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/emacs/comments/cf00mv/kdb_macro_execution/\", \"parent_whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://www.reddit.com/r/emacs/comments/cf00mv/kdb_macro_execution/\", \"subreddit_subscribers\": 30846, \"created_utc\": 1563492801.0, \"discussion_type\": null, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"I use projectile to manage my projects. I would like to have a keybinding automatically set up when I open a file in a specific project. I thought about doing it in a dir-locals.el at the root of my project.\\nI tried this:\\n`(global-set-key (kbd \\\"\\u003Cf7\\u003E\\\") 'eshell-command)`\\nbut I have two problems:\\n- it just prints \\\"eshell-command\\\" in the echo area,\\n- I would [...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100&before=t3_cf00mv"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["595.0"], "x-ratelimit-used": ["5"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["582"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100&before=t3_cf00mv"}, "recorded_at": "2019-07-19T00:10:18"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/orgmode/comments/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"t[...]
