{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "grant_type=refresh_token&refresh_token=**********"}, "headers": {"Content-Type": ["application/x-www-form-urlencoded"], "Authorization": ["**********"]}, "method": "POST", "uri": "https://www.reddit.com/api/v1/access_token"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"access_token\": \"**********\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"edit history identity mysubreddits privatemessages read report save submit subscribe vote\"}"}, "headers": {"Content-Type": ["application/json; charset=UTF-8"], "X-Moose": ["majestic"]}, "status": {"code": 200, "message": "OK"}, "url": "https://www.reddit.com/api/v1/access_token"}, "recorded_at": "2020-11-25T18:50:44"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/subreddits/mine/subscriber/?limit=100&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 1, \"children\": [{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EOnly flair with \\u0026quot;Meta\\u0026quot; if you want to discuss the subreddit.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": true, \"wiki_enabled\": null, \"user_is_muted\": false, \"user_can_flair_in_sr\": null, \"display_name\": \"emacs\", \"header_img\": \"https://f.thumbs.redditmedia.com/1CBmBnoqVxNCXdVS.png\", \"title\": \"M-x emacs-reddit\", \"allow_galleries\": true, \"icon_size\": null, \"primary_color\": \"\", \"active_user_count\": null, \"icon_img\": \"\", \"display_name_prefixed\": \"r/emacs\", \"accounts_active\": null, \"public_traffic\": false, \"subscribers\": 46692, \"user_flair_richtext\": [], \"videostream_links_count\": 0, \"name\": \"t5_2qhwu\", \"quarantine\": false, \"hide_ads\": false, \"emojis_enabled\": false, \"advertiser_category\": \"\", \"public_description\": \"The extensible, customizable, self-documenting real-time display editor.\", \"comment_score_hide_mins\": 0, \"allow_predictions\": false, \"user_has_favorited\": false, \"user_flair_template_id\": null, \"community_icon\": \"https://styles.redditmedia.com/t5_2qhwu/styles/communityIcon_a5atrxo85yn31.png?width=256\\u0026s=2c9270e17210dd39eb526819ee3477a17706725c\", \"banner_background_image\": \"\", \"original_content_tag_enabled\": false, \"submit_text\": \"Only flair with \\\"Meta\\\" if you want to discuss the subreddit.\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EA sub-reddit for the timeless and infinitely powerful editor. \\u003Ca href=\\\"http://emacsrocks.com/\\\"\\u003EWant to see what Emacs is capable of?!\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cstrong\\u003EGet Emacs\\u003C/strong\\u003E\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003E\\u003Ca href=\\\"http://ftp.gnu.org/gnu/emacs/windows/\\\"\\u003EWindows\\u003C/a\\u003E\\u003C/li\\u003E\\n\[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/api/v1/me?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"is_employee\": false, \"seen_layout_switch\": true, \"has_visited_new_profile\": false, \"pref_no_profanity\": true, \"has_external_account\": false, \"pref_geopopular\": \"\", \"seen_redesign_modal\": true, \"pref_show_trending\": true, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": false, \"banner_img\": \"\", \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"#25B79F\", \"user_is_muted\": false, \"display_name\": \"u_nnreddit-user\", \"header_img\": null, \"title\": \"\", \"coins\": 0, \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://www.redditstatic.com/avatars/avatar_default_16_25B79F.png\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": true, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/nnreddit-user\", \"key_color\": \"\", \"name\": \"t5_125o8u\", \"is_default_banner\": true, \"url\": \"/user/nnreddit-user/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": true, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"snoovatar_img\": \"\", \"snoovatar_size\": null, \"gold_expiration\": null, \"has_gold_subscription\": false, \"is_sponsor\": false, \"num_friends\": 0, \"features\": {\"mod_service_mute_writes\": true, \"promoted_trend_blanks\": true, \"show_amp_link\": true, \"report_service_handles_report_writes_to_db_for_helpdesk_reports\": true, \"report_service_handles_self_harm_reports\": true, \"report_service_handles_report_writes_to_db_for_modmail_reports\": true, \"chat\": true, \"mweb_link_tab\": {\"owner\": \"growth\", \"variant\": \"control_1\", \"experiment_id\": 404}, \"reports_double_write_to_report_service_for_spam\": true, \"is_email_permission_required\": false, \"reports_double_write_to_report_service_for_modmail_reports\": true, \"mod_awards\": true, \"report_service_handles_report_writes_to_db_for_sendbird_chats\": true, \"expensive_coins_package\": true, \"mweb_xpromo_revamp_v2\": {\"owner\": \"growth\", \"variant\": \"treatment_5\", \"experiment_id\": 457}, \"econ_wallet_service\": true, \"awards_on_streams\": true, \"report_service_handles_accept_report\": true, \"mweb_xpromo_modal_listing_click_daily_dismissible_ios\": true, \"reports_double_write_to_report_service_for_som\": true, \"chat_subreddit\": true, \"reports_double_write_to_report_service_for_users\": true, \"modlog_copyright_removal\": true, \"report_service_handles_report_writes_to_db_for_users\": true, \"do_not_track\": true, \"report_service_handles_report_writes_to_db\": true, \"reports_double_write_to_report_service_for_helpdesk_reports\": true, \"report_service_handles_report_writes_to_db_for_spam\": true, \"reports_double_write_to_report_service_for_sendbird_chats\": true, \"mod_service_mute_reads\": true, \"mweb_xpromo_interstitial_comments_ios\": true, \"noreferrer_to_noopener\": true, \"chat_user_settings\": true, \"premium_subscriptions_table\": true, \"reports_double_write_to_report_service\": true, \"mweb_xpromo_interstitial_comments_android\": true, \"report_service_handles_report_writes_to_db_for_awards\": true, \"reports_double_write_to_report_service_for_awards\": true, \"mweb_sharing_web_share_api\": {\"owner\": \"growth\", \"variant\": \"control_1\", \"experiment_id\": 314}, \"chat_group_rollout\": true, \"resized_styles_images\": true, \"spez_modal\": true, \"mweb_xpromo_modal_listing_click_daily_dismissible_android\": true, \"mweb_xpromo_revamp_v3\": {\"owner\": \"growth\", \"variant\": \"control_2\", \"experiment_id\": 480}, \"report_service_handles_report_writes_to_db_for_som\": true}, \"has_android_subscription\": false, \"verified\": true, \"new_modmail_exists\": null, \"pref_autoplay\": true, \"coins\": 0, \"has_paypal_subscription\": false, \"has_subscribed_to_premium\": false, \"id\": \"3um52nx7\", \"has_stripe_subscription\": false, \"oauth_client_id\": \"KBV2seGZgHOa9g\", \"can_create_subreddit\": true, \"over_18\": true, \"is_gold\": false, \"is_mod\": false, \"awarder_karma\": 0, \"suspension_expiration_utc\": null, \"has_verified_email\": true, \"is_suspended\": false, \"pref_video_autoplay\": true, \"in_chat\": true, \"can_edit_name\": false, \"in_redesign_beta\": false, \"icon_img\": \"https://www.redditstatic.com/avatars/avatar_default_16_25B79F.png\", \"has_mod_mail\": false, \"pref_nightmode\": false, \"awardee_karma\": 0, \"hide_from_robots\": false, \"password_set\": true, \"link_karma\": 127, \"force_password_reset\": false, \"total_karma\": 156, \"seen_give_award_tooltip\": false, \"inbox_count\": 2, \"seen_premium_adblock_modal\": false, \"pref_top_karma_subreddits\": true, \"has_mail\": true, \"pref_show_snoovatar\": false, \"name\": \"nnreddit-user\", \"pref_clickgadget\": 5, \"created\": 1559101744.0, \"gold_creddits\": 0, \"created_utc\": 1559072944.0, \"has_ios_subscription\": false, \"pref_show_twitter\": false, \"in_beta\": false, \"comment_karma\": 29, \"has_subscribed\": true, \"linked_identities\": [], \"seen_subreddit_chat_ftux\": false}"}, "headers": {"Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-remaining": ["598.0"], "x-ratelimit-used": ["2"], "x-ratelimit-reset": ["555"], "X-Moose": ["majestic"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/api/v1/me?raw_json=1"}, "recorded_at": "2020-11-25T18:50:45"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/comments/?limit=100&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"comment_type\": null, \"awarders\": [], \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_k0u68w\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"gdku6nr\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"tconfrey\", \"num_comments\": 1, \"edited\": false, \"can_mod_post\": false, \"created_utc\": 1606329410.0, \"send_replies\": true, \"parent_id\": \"t3_k0u68w\", \"score\": 1, \"author_fullname\": \"t2_y2nwrq4\", \"over_18\": false, \"treatment_tags\": [], \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2qhwu\", \"body\": \"I'm not sure if you want to center as you are searching but C-l (ie recenter-top-bottom) will move the current buffer line to the middle line on the screen. [This post](http://pragmaticemacs.com/emacs/dont-search-swipe/) shows how to get swiper to recenter on exit.\", \"link_title\": \"How to get swiper(or other searches) to move the found text to the middle of the window?\", \"author_flair_css_class\": null, \"name\": \"t1_gdku6nr\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EI\\u0026#39;m not sure if you want to center as you are searching but C-l (ie recenter-top-bottom) will move the current buffer line to the middle line on the screen. \\u003Ca href=\\\"http://pragmaticemacs.com/emacs/dont-search-swipe/\\\"\\u003EThis post\\u003C/a\\u003E shows how to get swiper to recenter on exit.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": true, \"top_awarded_type\": null, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/emacs/comments/k0u68w/how_to_get_swiperor_other_searches_to_move_the/gdku6nr/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/emacs/comments/k0u68w/how_to_get_swiperor_other_searches_to_move_the/\", \"report_reasons\": null, \"link_author\": \"nedhanks\", \"subreddit\": \"emacs\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/emacs/comments/k0u68w/how_to_get_swiperor_other_searches_to_move_the/\", \"created\": 1606358210.0, \"collapsed\": false, \"subreddit_name_prefixed\": \"r/emacs\", \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"comment_type\": null, \"awarders\": [], \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_k0wcu3\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"gdkt4x7\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follo[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/comments/?before=t1_gdku6nr&limit=100&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}"}, "headers": {"Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-remaining": ["596.0"], "x-ratelimit-used": ["4"], "x-ratelimit-reset": ["555"], "X-Moose": ["majestic"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/r/emacs/comments/?before=t1_gdku6nr&limit=100&raw_json=1"}, "recorded_at": "2020-11-25T18:50:46"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/new?limit=100&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"Hi fellow emacs users,\\n\\nI have an use-package config. So no vim keybinds for me (unless I wanna get evil-mode, which I dont, really, I want to keep the keybinds closer to the defaults.) So far I love it, but I dont like the method of movement. Those are the C- pn fb keys, for forward, backward, next and prevous. They are mnemonic, but not really ergonomic.\\n\\nAny suggestions?\\n\\nTLDR: I need better movement keys than the default.\", \"author_fullname\": \"t2_4wofjg5q\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Movement keys\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/emacs\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"top_awarded_type\": null, \"hide_score\": true, \"name\": \"t3_k0y52w\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 1, \"total_awards_received\": 0, \"media_embed\": {}, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 1, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": true, \"mod_note\": null, \"created\": 1606358882.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"self.emacs\", \"allow_live_comments\": false, \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EHi fellow emacs users,\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EI have an use-package config. So no vim keybinds for me (unless I wanna get evil-mode, which I dont, really, I want to keep the keybinds closer to the defaults.) So far I love it, but I dont like the method of movement. Those are the C- pn fb keys, for forward, backward, next and prevous. They are mnemonic, but not really ergonomic.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EAny suggestions?\\u003C/p\\u003E\\n\\n\\u003Cp\\u003ETLDR: I need better movement keys than the default.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qhwu\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"k0y52w\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"18gatenmaker6\", \"discussion_type\": null, \"num_comments\": 0, \"send_replies\": true, \"whitelist_status\": \"all_ads\", \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/emacs/comments/k0y52w/movement_keys/\", \"parent_whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://www.reddit.com/r/emacs/comments/k0y52w/movement_keys/\", \"subreddit_subscribers\": 46692, \"created_utc\": 1606330082.0, \"num_crossposts\": 0, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"I was really enjoying LSP + golang couple days ago, company-complete showing all with a type of \\\".\\\". However, when I tried again today, it becomes a CPU hug, and the auto complete stop working. I'm not sure if I installed anything in between (I was in the process of tweaking my emacs, switching between doom and my own setup).\\n\\n\\u0026#x200B;\\n\\nThis is true for both my own set[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/new?before=t3_k0y52w&limit=100&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}"}, "headers": {"Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-remaining": ["594.0"], "x-ratelimit-used": ["6"], "x-ratelimit-reset": ["553"], "X-Moose": ["majestic"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/r/emacs/new?before=t3_k0y52w&limit=100&raw_json=1"}, "recorded_at": "2020-11-25T18:50:47"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/message/unread/?mark=False&limit=100&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 2, \"children\": [{\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"emacs\", \"likes\": null, \"replies\": \"\", \"id\": \"g2zd0zu\", \"subject\": \"post reply\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"Sevenstrangemelons\", \"num_comments\": 2, \"parent_id\": \"t3_igazje\", \"subreddit_name_prefixed\": \"r/emacs\", \"new\": true, \"type\": \"post_reply\", \"body\": \"Nice! I thought I was the only one who used emacs and rojo. This seems like a nice alternative to rojo\", \"link_title\": \"Roblox With Emacs\", \"dest\": \"nnreddit-user\", \"was_comment\": true, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ENice! I thought I was the only one who used emacs and rojo. This seems like a nice alternative to rojo\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t1_g2zd0zu\", \"created\": 1598524651.0, \"created_utc\": 1598495851.0, \"context\": \"/r/emacs/comments/igazje/roblox_with_emacs/g2zd0zu/?context=3\", \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"emacs\", \"likes\": null, \"replies\": \"\", \"id\": \"g2kkcv3\", \"subject\": \"post reply\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"gepheir6yoF\", \"num_comments\": 34, \"parent_id\": \"t3_fpbd1t\", \"subreddit_name_prefixed\": \"r/emacs\", \"new\": true, \"type\": \"post_reply[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/message/unread/?before=t1_g2zd0zu&mark=False&limit=100&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}"}, "headers": {"Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-remaining": ["592.0"], "x-ratelimit-used": ["8"], "x-ratelimit-reset": ["553"], "X-Moose": ["majestic"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/message/unread/?before=t1_g2zd0zu&mark=False&limit=100&raw_json=1"}, "recorded_at": "2020-11-25T18:50:47"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/api/info/?id=t1_g2zd0zu&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 1, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"comment_type\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_b[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/comments/igazje/?limit=2048&sort=best&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 1, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Roblox With Emacs\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/emacs\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 140, \"top_awarded_type\": null, \"parent_whitelist_status\": \"all_ads\", \"hide_score\": false, \"name\": \"t3_igazje\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 0.7, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 4, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_3um52nx7\", \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 4, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"default\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"link\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1598386556.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"github.com\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": true, \"suggested_sort\": null, \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://github.com/dickmao/rbxlx-env\", \"view_count\": null, \"archived\": false, \"no_follow\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/ytqRvJPLBukutTe5xF94BI_HSGZ49U08jS_on6HA1Ho.jpg?auto=webp\\u0026s=30646a346f87d89f6410c793254e30fd1c381013\", \"width\": 420, \"height\": 420}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/ytqRvJPLBukutTe5xF94BI_HSGZ49U08jS_on6HA1Ho.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=808c2c187ac80c3a48fa35c04cc9c9c667291a44\", \"width\": 108, \"height\": 108}, {\"url\": \"https://external-preview.redd.it/ytqRvJPLBukutTe5xF94BI_HSGZ49U08jS_on6HA1Ho.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=c64b1b8c6ea59e81081127fae54f6e60a670ebe9\", \"width\": 216, \"height\": 216}, {\"url\": \"https://external-preview.redd.it/ytqRvJPLBukutTe5xF94BI_HSGZ49U08jS_on6HA1Ho.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=445aef35945ac6a10ab4bfac8f2374413f413f85\", \"width\": 320, \"height\": 320}], \"variants\": {}, \"id\": \"j0TNn7T506ZzQaveMFeB8Zi7ok7WeYFMUtFaRXTGukk\"}], \"enabled\": false}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"rte_mode\": \"markdown\", \"visited\": false, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qhwu\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"igazje\", \"is_robot_indexable\": true, \"num_duplicates\": 0, \"report_reasons\": null, \"author\": \"nnreddit-user\", \"discussion_type\": null, \"num_comments\": 2, \"send_replies\": true, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/emacs/comments/igazje/roblox_with_emacs/\", \"whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://github.com/dickmao/rbxlx-env\", \"subreddit_subscribers\": 46692, \"created_utc\": 1598357756.0, \"num_crossposts\": 0[...]
