{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["**********"]}, "method": "GET", "uri": "https://oauth.reddit.com/api/info/?id=t1_g2zd0zu&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 1, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"comment_type\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_igazje\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"g2zd0zu\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"Sevenstrangemelons\", \"can_mod_post\": false, \"created_utc\": 1598495851.0, \"send_replies\": true, \"parent_id\": \"t3_igazje\", \"score\": 1, \"author_fullname\": \"t2_wwsxs\", \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2qhwu\", \"body\": \"Nice! I thought I was the only one who used emacs and rojo. This seems like a nice alternative to rojo\", \"awarders\": [], \"author_flair_css_class\": null, \"name\": \"t1_g2zd0zu\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ENice! I thought I was the only one who used emacs and rojo. This seems like a nice alternative to rojo\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": true, \"top_awarded_type\": null, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/emacs/comments/igazje/roblox_with_emacs/g2zd0zu/\", \"num_reports\": null, \"locked\": false, \"report_reasons\": null, \"created\": 1598524651.0, \"subreddit\": \"emacs\", \"author_flair_text\": null, \"treatment_tags\": [], \"collapsed\": false, \"subreddit_name_prefixed\": \"r/emacs\", \"controversiality\": 0, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"subreddit_type\": \"public\", \"ups\": 1}}], \"after\": null, \"before\": null}}"}, "headers": {"Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-remaining": ["422.0"], "x-ratelimit-used": ["178"], "x-ratelimit-reset": ["20"], "X-Moose": ["majestic"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/api/info/?id=t1_g2zd0zu&raw_json=1"}, "recorded_at": "2020-11-25T17:59:40"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["**********"]}, "method": "GET", "uri": "https://oauth.reddit.com/comments/igazje/?limit=2048&sort=best&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 1, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Roblox With Emacs\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/emacs\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 140, \"top_awarded_type\": null, \"parent_whitelist_status\": \"all_ads\", \"hide_score\": false, \"name\": \"t3_igazje\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 0.67, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 3, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_3um52nx7\", \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 3, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"default\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"link\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1598386556.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"github.com\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": true, \"suggested_sort\": null, \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://github.com/dickmao/rbxlx-env\", \"view_count\": null, \"archived\": false, \"no_follow\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/ytqRvJPLBukutTe5xF94BI_HSGZ49U08jS_on6HA1Ho.jpg?auto=webp\\u0026s=30646a346f87d89f6410c793254e30fd1c381013\", \"width\": 420, \"height\": 420}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/ytqRvJPLBukutTe5xF94BI_HSGZ49U08jS_on6HA1Ho.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=808c2c187ac80c3a48fa35c04cc9c9c667291a44\", \"width\": 108, \"height\": 108}, {\"url\": \"https://external-preview.redd.it/ytqRvJPLBukutTe5xF94BI_HSGZ49U08jS_on6HA1Ho.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=c64b1b8c6ea59e81081127fae54f6e60a670ebe9\", \"width\": 216, \"height\": 216}, {\"url\": \"https://external-preview.redd.it/ytqRvJPLBukutTe5xF94BI_HSGZ49U08jS_on6HA1Ho.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=445aef35945ac6a10ab4bfac8f2374413f413f85\", \"width\": 320, \"height\": 320}], \"variants\": {}, \"id\": \"j0TNn7T506ZzQaveMFeB8Zi7ok7WeYFMUtFaRXTGukk\"}], \"enabled\": false}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"rte_mode\": \"markdown\", \"visited\": false, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qhwu\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"igazje\", \"is_robot_indexable\": true, \"num_duplicates\": 0, \"report_reasons\": null, \"author\": \"nnreddit-user\", \"discussion_type\": null, \"num_comments\": 2, \"send_replies\": true, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/emacs/comments/igazje/roblox_with_emacs/\", \"whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://github.com/dickmao/rbxlx-env\", \"subreddit_subscribers\": 46690, \"created_utc\": 1598357756.0, \"num_crossposts\": 0, \"mod_reports\": [], \"is_video\": false}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"comment_type\": null, \"awarders\": [], \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_igazje\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [],[...]
