{"http_interactions": [{"request": {"body": {"string": "grant_type=refresh_token&refresh_token=301734740635-ytHidoZMShNZPDx4-k4a9CchPrg", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/x-www-form-urlencoded"], "Authorization": ["Basic S0JWMnNlR1pnSE9hOWc6Y2Fubm90LWJlLWVtcHR5"]}, "method": "POST", "uri": "https://www.reddit.com/api/v1/access_token"}, "response": {"body": {"string": "{\"access_token\": \"301734740635-yt-wTVPRv34AX_nsJu-sT194Z54\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"edit history identity mysubreddits privatemessages read report save submit subscribe vote\"}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "Content-Type": ["application/json; charset=UTF-8"]}, "status": {"message": "OK", "code": 200}, "url": "https://www.reddit.com/api/v1/access_token"}, "recorded_at": "2019-06-05T03:16:43"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-yt-wTVPRv34AX_nsJu-sT194Z54"]}, "method": "GET", "uri": "https://oauth.reddit.com/subreddits/mine/subscriber/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 2, \"children\": [{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": null, \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": true, \"wiki_enabled\": null, \"user_is_muted\": false, \"user_can_flair_in_sr\": null, \"display_name\": \"emacs\", \"header_img\": \"https://f.thumbs.redditmedia.com/1CBmBnoqVxNCXdVS.png\", \"title\": \"M-x emacs-reddit\", \"icon_size\": null, \"primary_color\": \"\", \"active_user_count\": null, \"icon_img\": \"\", \"display_name_prefixed\": \"r/emacs\", \"accounts_active\": null, \"public_traffic\": false, \"subscribers\": 29792, \"user_flair_richtext\": [], \"videostream_links_count\": 0, \"name\": \"t5_2qhwu\", \"quarantine\": false, \"hide_ads\": false, \"emojis_enabled\": false, \"advertiser_category\": \"\", \"public_description\": \"The extensible, customizable, self-documenting real-time display editor.\", \"comment_score_hide_mins\": 0, \"user_has_favorited\": false, \"user_flair_template_id\": null, \"community_icon\": \"\", \"banner_background_image\": \"\", \"original_content_tag_enabled\": false, \"submit_text\": \"\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EA sub-reddit for the timeless and infinitely powerful editor. \\u003Ca href=\\\"http://emacsrocks.com/\\\"\\u003EWant to see what Emacs is capable of?!\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cstrong\\u003EGet Emacs\\u003C/strong\\u003E\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003E\\u003Ca href=\\\"http://ftp.gnu.org/gnu/emacs/windows/\\\"\\u003EWindows\\u003C/a\\u003E\\u003C/li\\u003E\\n\[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-yt-wTVPRv34AX_nsJu-sT194Z54"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_bws522\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"eq14q6w\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"user_was_not_found\", \"num_comments\": 5, \"can_mod_post\": false, \"created_utc\": 1559701065.0, \"send_replies\": true, \"parent_id\": \"t1_eq113tc\", \"score\": 1, \"author_fullname\": \"t2_h1nda\", \"over_18\": false, \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2qhwu\", \"body\": \"Yes, please update the post. I was almost about to post this same question.\", \"link_title\": \"How do I get my tabs and auto-indent to behave nicely?\", \"author_flair_css_class\": null, \"name\": \"t1_eq14q6w\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EYes, please update the post. I was almost about to post this same question.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"stickied\": false, \"can_gild\": true, \"subreddit\": \"emacs\", \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/emacs/comments/bws522/how_do_i_get_my_tabs_and_autoindent_to_behave/eq14q6w/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/emacs/comments/bws522/how_do_i_get_my_tabs_and_autoindent_to_behave/\", \"report_reasons\": null, \"link_author\": \"morganmachine91\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/emacs/comments/bws522/how_do_i_get_my_tabs_and_autoindent_to_behave/\", \"created\": 1559729865.0, \"collapsed\": false, \"subreddit_name_prefixed\": \"r/emacs\", \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_bqpgk0\", \"author_flair_template_id\": \"130d74de-1fb4-11e9-966a-0e83bbba460e\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"eq12qv8\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": fals[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-yt-wTVPRv34AX_nsJu-sT194Z54"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100&before=t1_eq14q6w"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["597.0"], "x-ratelimit-used": ["3"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["195"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100&before=t1_eq14q6w"}, "recorded_at": "2019-06-05T03:16:45"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-yt-wTVPRv34AX_nsJu-sT194Z54"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"It is kind of annoying to have to use capital letters to get a complete suggestion in many cases. So I was wondering if it possible to make company-lsp non-case-sensitive.\\n\\n\\u0026#x200B;\\n\\nThanks.\", \"author_fullname\": \"t2_3d69xp\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"How to make company-lsp non-case-sensitive?\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/emacs\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"hide_score\": false, \"name\": \"t3_bwt79w\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 3, \"total_awards_received\": 0, \"media_embed\": {}, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 3, \"approved_by\": null, \"thumbnail\": \"\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": true, \"mod_note\": null, \"created\": 1559706779.0, \"link_flair_type\": \"text\", \"wls\": 6, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"self.emacs\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EIt is kind of annoying to have to use capital letters to get a complete suggestion in many cases. So I was wondering if it possible to make company-lsp non-case-sensitive.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u0026#x200B;\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EThanks.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"media_only\": false, \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"visited\": false, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qhwu\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"bwt79w\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"ram535\", \"num_crossposts\": 0, \"num_comments\": 3, \"send_replies\": true, \"whitelist_status\": \"all_ads\", \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/emacs/comments/bwt79w/how_to_make_companylsp_noncasesensitive/\", \"parent_whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://www.reddit.com/r/emacs/comments/bwt79w/how_to_make_companylsp_noncasesensitive/\", \"subreddit_subscribers\": 29792, \"created_utc\": 1559677979.0, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"I'm a long-time vim user who's been intrigued for a while by what emacs has to offer. I recently made the plunge and have been been using emacs for my workflow with C/C++ development mostly. One issue that I'm running into is that I can't seem to get autoindent to behave nicely, or at least to behave like it does in vim.\\n\\nIn my .vimrc, I have two lines:\\n\\n    set tabstop=4\\n    se[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-yt-wTVPRv34AX_nsJu-sT194Z54"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100&before=t3_bwt79w"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["595.0"], "x-ratelimit-used": ["5"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["194"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100&before=t3_bwt79w"}, "recorded_at": "2019-06-05T03:16:46"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-yt-wTVPRv34AX_nsJu-sT194Z54"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/orgmode/comments/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": nu[...]
