{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/test/about/?raw_json=1"}, "response": {"body": {"string": "{\"message\": \"Unauthorized\", \"error\": 401}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "Content-Type": ["application/json; charset=UTF-8"], "www-authenticate": ["Bearer realm=\"reddit\", error=\"invalid_token\""]}, "status": {"message": "Unauthorized", "code": 401}, "url": "https://oauth.reddit.com/r/test/about/?raw_json=1"}, "recorded_at": "2019-07-19T00:16:45"}, {"request": {"body": {"string": "grant_type=refresh_token&refresh_token=**********", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/x-www-form-urlencoded"], "Authorization": ["**********"]}, "method": "POST", "uri": "https://www.reddit.com/api/v1/access_token"}, "response": {"body": {"string": "{\"access_token\": \"**********\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"edit history identity mysubreddits privatemessages read report save submit subscribe vote\"}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "Content-Type": ["application/json; charset=UTF-8"]}, "status": {"message": "OK", "code": 200}, "url": "https://www.reddit.com/api/v1/access_token"}, "recorded_at": "2019-07-19T00:16:47"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/test/about/?raw_json=1"}, "response": {"body": {"string": "{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": null, \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": true, \"wiki_enabled\": null, \"user_is_muted\": false, \"user_can_flair_in_sr\": true, \"display_name\": \"test\", \"header_img\": null, \"title\": \"Testing\", \"icon_size\": null, \"primary_color\": \"\", \"active_user_count\": 192, \"icon_img\": \"\", \"display_name_prefixed\": \"r/test\", \"accounts_active\": 192, \"public_traffic\": false, \"subscribers\": 5690, \"user_flair_richtext\": [], \"videostream_links_count\": 1, \"name\": \"t5_2qh23\", \"quarantine\": false, \"hide_ads\": false, \"emojis_enabled\": false, \"advertiser_category\": \"\", \"public_description\": \"\", \"comment_score_hide_mins\": 0, \"user_has_favorited\": false, \"user_flair_template_id\": null, \"community_icon\": \"\", \"banner_background_image\": \"\", \"original_content_tag_enabled\": false, \"submit_text\": \"\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThis is a place to test things.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"spoilers_enabled\": true, \"header_title\": null, \"header_size\": null, \"user_flair_position\": \"right\", \"all_original_content\": false, \"has_menu_widget\": false, \"is_enrolled_in_new_modmail\": null, \"key_color\": \"\", \"can_assign_user_flair\": true, \"created\": 1201266688.0, \"wls\": 6, \"show_media_preview\": true, \"submission_type\": \"any\", \"user_is_subscriber\": false, \"disable_contributor_requests\": false, \"allow_videogifs\": true, \"user_flair_type\": \"text\", \"collapse_deleted_comments\": false, \"emojis_custom_size\": null, \"public_description_html\": null, \"allow_videos\": true, \"notification_level\": null, \"can_assign_link_flair\": true, \"accounts_active_is_fuzzed\": false, \"submit_text_label\": null, \"link_flair_position\": \"left\", \"user_sr_flair_enabled\": true, \"user_flair_enabled_in_sr\": true, \"allow_discovery\": true, \"user_sr_theme_enabled\": true, \"link_flair_enabled\": true, \"subreddit_type\": \"public\", \"suggested_comment_sort\": null, \"banner_img\": \"\", \"user_flair_text\": null, \"banner_background_color\": \"\", \"show_media\": true, \"id\": \"2qh23\", \"user_is_moderator\": false, \"over18\": false, \"description\": \"This is a place to test things.\", \"submit_link_label\": null, \"user_flair_text_color\": null, \"restrict_commenting\": false, \"user_flair_css_class\": null, \"allow_images\": true, \"lang\": \"en\", \"whitelist_status\": \"all_ads\", \"url\": \"/r/test/\", \"created_utc\": 1201237888.0, \"banner_size\": null, \"mobile_banner_image\": \"\", \"user_is_contributor\": false}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["581.0"], "x-ratelimit-used": ["19"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["193"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/test/about/?raw_json=1"}, "recorded_at": "2019-07-19T00:16:47"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/test/comments/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_cehakq\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"eu628tg\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"dota2_responses_bot\", \"num_comments\": 7, \"can_mod_post\": false, \"created_utc\": 1563490552.0, \"send_replies\": true, \"parent_id\": \"t1_eu627rc\", \"score\": 1, \"author_fullname\": \"t2_3dj46s8s\", \"over_18\": false, \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2qh23\", \"body\": \"[Oh no](https://gamepedia.cursecdn.com/dota2_gamepedia/9/92/Wraith_deny_06.mp3) (sound warning: Wraith King)\\n\\n---\\nBleep bloop, I am a robot.\\n\\n[*^(Source)*](https://github.com/MePsyDuck/DotaResponsesRedditBot) *^(|)* \\n[*^(Suggestions/Issues)*](https://github.com/MePsyDuck/DotaResponsesRedditBot/issues) *^(|)* \\n[*^(Contact)*](https://www.reddit.com/user/MePsyDuck/) *^(|)* \\n[*^(Author)*](https://www.reddit.com/user/Jonarz/)\", \"link_title\": \"Test\", \"author_flair_css_class\": null, \"name\": \"t1_eu628tg\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"https://gamepedia.cursecdn.com/dota2_gamepedia/9/92/Wraith_deny_06.mp3\\\"\\u003EOh no\\u003C/a\\u003E (sound warning: Wraith King)\\u003C/p\\u003E\\n\\n\\u003Chr/\\u003E\\n\\n\\u003Cp\\u003EBleep bloop, I am a robot.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"https://github.com/MePsyDuck/DotaResponsesRedditBot\\\"\\u003E\\u003Cem\\u003E\\u003Csup\\u003ESource\\u003C/sup\\u003E\\u003C/em\\u003E\\u003C/a\\u003E \\u003Cem\\u003E\\u003Csup\\u003E|\\u003C/sup\\u003E\\u003C/em\\u003E \\n\\u003Ca href=\\\"https://github.com/MePsyDuck/DotaResponsesRedditBot/issues\\\"\\u003E\\u003Cem\\u003E\\u003Csup\\u003ESuggestions/Issues\\u003C/sup\\u003E\\u003C/em\\u003E\\u003C/a\\u003E \\u003Cem\\u003E\\u003Csup\\u003E|\\u003C/sup\\u003E\\u003C/em\\u003E \\n\\u003Ca href=\\\"https://www.reddit.com/user/MePsyDuck/\\\"\\u003E\\u003Cem\\u003E\\u003Csup\\u003EContact\\u003C/sup\\u003E\\u003C/em\\u003E\\u003C/a\\u003E \\u003Cem\\u003E\\u003Csup\\u003E|\\u003C/sup\\u003E\\u003C/em\\u003E \\n\\u003Ca href=\\\"https://www.reddit.com/user/Jonarz/\\\"\\u003E\\u003Cem\\u003E\\u003Csup\\u003EAuthor\\u003C/sup\\u003E\\u003C/em\\u003E\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"stickied\": false, \"can_gild\": true, \"subreddit\": \"test\", \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/test/comments/cehakq/test/eu628tg/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/test/comments/cehakq/test/\", \"report_reasons\": null, \"link_author\": \"ILikeMultipleThings\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/test/comments/cehakq/test/\", \"created\": 1563519352.0, \"collapsed\": false, \"subreddit_name_prefixed\": \"r/test\", \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_cehakq\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"eu627rc\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": [...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/test/comments/?raw_json=1&limit=100&before=t1_eu628tg"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["579.0"], "x-ratelimit-used": ["21"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["191"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/test/comments/?raw_json=1&limit=100&before=t1_eu628tg"}, "recorded_at": "2019-07-19T00:16:49"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/test/new?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"test\", \"selftext\": \"testing\", \"author_fullname\": \"t2_46nv213h\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"testing\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/test\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": null, \"hide_score\": true, \"name\": \"t3_cezq28\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 2, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": null, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 2, \"approved_by\": null, \"thumbnail\": \"self\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": true, \"mod_note\": null, \"created\": 1563520033.0, \"link_flair_type\": \"text\", \"wls\": 6, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"self.test\", \"allow_live_comments\": false, \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Etesting\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"media_only\": false, \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"visited\": false, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qh23\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"cezq28\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"Want2CNorthernLights\", \"num_crossposts\": 0, \"num_comments\": 0, \"send_replies\": true, \"whitelist_status\": \"all_ads\", \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/test/comments/cezq28/testing/\", \"parent_whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://www.reddit.com/r/test/comments/cezq28/testing/\", \"subreddit_subscribers\": 5690, \"created_utc\": 1563491233.0, \"discussion_type\": null, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"test\", \"selftext\": \"Learn more here: www.loopcv.pro\", \"author_fullname\": \"t2_39zcbp3d\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Test post by Loopcv\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/test\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": null, \"hide_score\": true, \"name\": \"t3_cezpxf\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 1, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": null, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 1, \"approved_by\": null, \"thumbnail\": \"self\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"self\", \"content_categories\": null, \"is_self\": true, \"mod_note\": null, \"created\": 1563520016.0, \"link_flair_type\": \"text\", \"wls\": 6, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"self.test\", \"allow_live_comments\": false, \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ELearn more here: \\u003Ca href=\\\"http://www.loopcv.pro\\\"\\u003Ewww.loopcv.pro\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/ZJsXUOvy1ED9OaO4eENiN9kHgeT_GBGuJfnGo7S5RlI.jpg?auto=webp\\u0026s=8b3fec1487f2cfcb031392b3b6aafcd367497373\", \"width\": 2560, \"height\": 994}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/ZJsXUOvy1ED9OaO4eENiN9kHgeT_GBGuJfnGo7S5RlI.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=1c15b8b5a049fc41a8273ab72bea82ca4a6d76a5\", \"width\": 108, \"height\": 41}, {\"url\": \"https://external-preview.redd.it/ZJsXUOvy1ED9OaO4eENiN9kHgeT_GBGuJfnGo7S5RlI.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=606b6e7073f8adf71b61159370e5b5b7c7a0479b\", \"width\": 216, \"height\": 83}, {\"url\": \"https://external-preview.redd.it/ZJsXUOvy1ED9OaO4eENiN9kHgeT_GBGuJfnGo7S5RlI.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=bf993a4bf2ccd90d52584e534dcb928696beb8bc\", \"width\": 320, \"height\": 124}, {\"url\": \"https://external-preview.redd.it/ZJsXUOvy1ED9OaO4eENiN9kHgeT_GBGuJfnGo7S5RlI.jpg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=22537d9fceefc4c8c6cc8b533e2325acf34869bf\", \"width\": 640, \"height\": 248}, {\"url\": \"https://external-preview.redd.it/ZJsXUOvy1ED9OaO4eENiN9kHgeT_GBGuJfnGo7S5RlI.jpg?width=960\\u0026crop=smart\\u0026auto=webp\\u0026s=d491cc110c739452c3bc683e382fc8c95b5d4355\", \"width\": 960, \"height\": 372}, {\"url\": \"https://external-preview.redd.it/ZJsXUOvy1ED9OaO4eENiN9kHgeT_GBGuJfnGo7S5RlI.jpg?width=1080\\u0026crop=smart\\u0026auto=webp\\u0026s=d81ad039f3dba2c484bc778a78660f6f1388d968\", \"width\": 1080, \"height\": 419}], \"variants\": {}, \"id\": \"KRwChx0tX8Hmat0InLyWx63YacXkbCpMYxmAoM-k96Y\"}], \"enabled\": false}, \"all_awardings\": [], \"media_only\": false, \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"visited\": false, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qh23\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"cezpxf\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"k32_ss\", \"num_crossposts\": 0, \"num_comments\": 0, \"send_replies\": true,[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/test/new?raw_json=1&limit=100&before=t3_cezq28"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["577.0"], "x-ratelimit-used": ["23"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["190"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/test/new?raw_json=1&limit=100&before=t3_cezq28"}, "recorded_at": "2019-07-19T00:16:50"}, {"request": {"body": {"string": "action=sub&api_type=json&skip_inital_defaults=True&sr_name=test", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/x-www-form-urlencoded"], "Authorization": ["bearer **********"]}, "method": "POST", "uri": "https://oauth.reddit.com/api/subscribe/?raw_json=1"}, "response": {"body": {"string": "{}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["576.0"], "x-ratelimit-used": ["24"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["189"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/api/subscribe/?raw_json=1"}, "recorded_at": "2019-07-19T00:16:51"}, {"request": {"body": {"string": "action=unsub&api_type=json&sr_name=test", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/x-www-form-urlencoded"], "Authorization": ["bearer **********"]}, "method": "POST", "uri": "https://oauth.reddit.com/api/subscribe/?raw_json=1"}, "response": {"body": {"string": "{}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["575.0"], "x-ratelimit-used": ["25"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["189"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/api/subscribe/?raw_json=1"}, "recorded_at": "2019-07-19T00:16:51"}], "recorded_with": "betamax/0.8.1"}