{"http_interactions": [{"request": {"body": {"string": "grant_type=refresh_token&refresh_token=301734740635-ytHidoZMShNZPDx4-k4a9CchPrg", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/x-www-form-urlencoded"], "Authorization": ["Basic S0JWMnNlR1pnSE9hOWc6Y2Fubm90LWJlLWVtcHR5"]}, "method": "POST", "uri": "https://www.reddit.com/api/v1/access_token"}, "response": {"body": {"string": "{\"access_token\": \"301734740635-BKgoI_G-n4kgL3bbUGivPEWmOQY\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"edit history identity mysubreddits privatemessages read report save submit subscribe vote\"}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "Content-Type": ["application/json; charset=UTF-8"]}, "status": {"message": "OK", "code": 200}, "url": "https://www.reddit.com/api/v1/access_token"}, "recorded_at": "2019-06-03T20:14:05"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-BKgoI_G-n4kgL3bbUGivPEWmOQY"]}, "method": "GET", "uri": "https://oauth.reddit.com/subreddits/mine/subscriber/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 1, \"children\": [{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": null, \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": true, \"wiki_enabled\": null, \"user_is_muted\": false, \"user_can_flair_in_sr\": null, \"display_name\": \"emacs\", \"header_img\": \"https://f.thumbs.redditmedia.com/1CBmBnoqVxNCXdVS.png\", \"title\": \"M-x emacs-reddit\", \"icon_size\": null, \"primary_color\": \"\", \"active_user_count\": null, \"icon_img\": \"\", \"display_name_prefixed\": \"r/emacs\", \"accounts_active\": null, \"public_traffic\": false, \"subscribers\": 29762, \"user_flair_richtext\": [], \"videostream_links_count\": 0, \"name\": \"t5_2qhwu\", \"quarantine\": false, \"hide_ads\": false, \"emojis_enabled\": false, \"advertiser_category\": \"\", \"public_description\": \"The extensible, customizable, self-documenting real-time display editor.\", \"comment_score_hide_mins\": 0, \"user_has_favorited\": false, \"user_flair_template_id\": null, \"community_icon\": \"\", \"banner_background_image\": \"\", \"original_content_tag_enabled\": false, \"submit_text\": \"\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EA sub-reddit for the timeless and infinitely powerful editor. \\u003Ca href=\\\"http://emacsrocks.com/\\\"\\u003EWant to see what Emacs is capable of?!\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cstrong\\u003EGet Emacs\\u003C/strong\\u003E\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003E\\u003Ca href=\\\"http://ftp.gnu.org/gnu/emacs/windows/\\\"\\u003EWindows\\u003C/a\\u003E\\u003C/li\\u003E\\n\[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-BKgoI_G-n4kgL3bbUGivPEWmOQY"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_bw9yo7\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"epx5g9c\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"emacsomancer\", \"num_comments\": 13, \"can_mod_post\": false, \"created_utc\": 1559592474.0, \"send_replies\": true, \"parent_id\": \"t1_epww3ue\", \"score\": 1, \"author_fullname\": \"t2_8a43c\", \"over_18\": false, \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2qhwu\", \"body\": \"Ok, 'run' is the wrong word then. My point is that eshell is a shell, just like bash is a shell or zsh is a shell. When one opens up eshell, it doesn't launch with a bash shell or a zsh shell, it is a shell.\", \"link_title\": \"Did you know that the Eshell is awesome?\", \"author_flair_css_class\": null, \"name\": \"t1_epx5g9c\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EOk, \\u0026#39;run\\u0026#39; is the wrong word then. My point is that eshell is a shell, just like bash is a shell or zsh is a shell. When one opens up eshell, it doesn\\u0026#39;t launch with a bash shell or a zsh shell, it is a shell.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"stickied\": false, \"can_gild\": true, \"subreddit\": \"emacs\", \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/emacs/comments/bw9yo7/did_you_know_that_the_eshell_is_awesome/epx5g9c/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/emacs/comments/bw9yo7/did_you_know_that_the_eshell_is_awesome/\", \"report_reasons\": null, \"link_author\": \"202700000000\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/emacs/comments/bw9yo7/did_you_know_that_the_eshell_is_awesome/\", \"created\": 1559621274.0, \"collapsed\": false, \"subreddit_name_prefixed\": \"r/emacs\", \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_bw7qdy\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"epx401p\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": [...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-BKgoI_G-n4kgL3bbUGivPEWmOQY"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100&before=t1_epx5g9c"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["597.0"], "x-ratelimit-used": ["3"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["353"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100&before=t1_epx5g9c"}, "recorded_at": "2019-06-03T20:14:07"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-BKgoI_G-n4kgL3bbUGivPEWmOQY"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"My use case is this, I usually have emacs split into three vertical frames (left, center, and right) and I prefer editing in the middle buffer while using the right for reference and the left for compilation, testing, etc. Is there a way to make it so that when I open a buffer (or switch to a buffer) in the middle frame and it is open in the right, it swaps the middle and right buffers? This would be very nice for me so that I don't have to go back to the right buffer to change it myself. Is there a package for this or a simple script to make it work?\", \"author_fullname\": \"t2_apgh2\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Is there a way to swap if buffer is open in other frame, swap frame buffers instead of having two frames with the same buffer.\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/emacs\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"hide_score\": true, \"name\": \"t3_bwdztj\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 1, \"total_awards_received\": 0, \"media_embed\": {}, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 1, \"approved_by\": null, \"thumbnail\": \"\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": true, \"mod_note\": null, \"created\": 1559614819.0, \"link_flair_type\": \"text\", \"wls\": 6, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"self.emacs\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EMy use case is this, I usually have emacs split into three vertical frames (left, center, and right) and I prefer editing in the middle buffer while using the right for reference and the left for compilation, testing, etc. Is there a way to make it so that when I open a buffer (or switch to a buffer) in the middle frame and it is open in the right, it swaps the middle and right buffers? This would be very nice for me so that I don\\u0026#39;t have to go back to the right buffer to change it myself. Is there a package for this or a simple script to make it work?\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"media_only\": false, \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"visited\": false, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qhwu\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"bwdztj\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"Twosided13\", \"num_crossposts\": 0, \"num_comments\": 0, \"send_replies\": true, \"whitelist_status\": \"all_ads\", \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/emacs/comments/bwdztj/is_there_a_way_to_swap_if_buffer_is_open_in_other/\", \"parent_whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://www.reddit.com/r/emacs/comments/bwdztj/is_there_a_way_to_swap_if_buffer_is_open_in_other/\", \"subreddit_subscribers\": 29762, \"created_utc\": 1559586019.0, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"I am having a small problem with dashboard. I am trying to make it show the next 7 days in the agenda section, instead of just the 1 day. The following is supposed to do this.\\n\\n`(setq show-week-agenda-p t)`\\n\\n\\u0026#x200B;\\n\\nThis however give the error:-\\n\\n`Wrong type argument: char-or-string-p, nil`\\n\\nWhat I really dont understand is that when running as `emacs -nw` this[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-BKgoI_G-n4kgL3bbUGivPEWmOQY"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100&before=t3_bwdztj"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["595.0"], "x-ratelimit-used": ["5"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["351"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100&before=t3_bwdztj"}, "recorded_at": "2019-06-03T20:14:09"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-BKgoI_G-n4kgL3bbUGivPEWmOQY"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/chvrches/comments/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": n[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-BKgoI_G-n4kgL3bbUGivPEWmOQY"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/chvrches/comments/?raw_json=1&limit=100&before=t1_epvr83x"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["593.0"], "x-ratelimit-used": ["7"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["349"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/chvrches/comments/?raw_json=1&limit=100&before=t1_epvr83x"}, "recorded_at": "2019-06-03T20:14:11"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer 301734740635-BKgoI_G-n4kgL3bbUGivPEWmOQY"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/chvrches/new?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"chvrches\", \"selftext\": \"\", \"author_fullname\": \"t2_1gecn6as\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Analogue by Phil Smithies [2500x1584]\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/chvrches\", \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 88, \"hide_score\": false, \"name\": \"t3_bvxrto\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 95, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": true, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 95, \"approved_by\": null, \"thumbnail\": \"https://b.thumbs.redditmedia.com/C8VoMu0HBwZbog6aQpmXu1z98Z9s6-TuUCvTuprmc4E.jpg\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"image\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1559513660.0, \"link_flair_type\": \"text\", \"wls\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"i.redd.it\", \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://preview.redd.it/jp8d2glmby131.jpg?auto=webp\\u0026s=17dfbe95e247f3114aed9058f41b36cb274e3e15\", \"width\": 2500, \"height\": 1584}, \"resolutions\": [{\"url\": \"https://preview.redd.it/jp8d2glmby131.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=3acb558c420c113d60c715510edd3d716144affb\", \"width\": 108, \"height\": 68}, {\"url\": \"https://preview.redd.it/jp8d2glmby131.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=c5b6c6384ef4a0c9c5088d126059c67896aa3cf5\", \"width\": 216, \"height\": 136}, {\"url\": \"https://preview.redd.it/jp8d2glmby131.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=5f5ecd71f8666d5c4ea5d55d46a89f0f307bc06c\", \"width\": 320, \"height\": 202}, {\"url\": \"https://preview.redd.it/jp8d2glmby131.jpg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=b627a112818c9a389d80f664409b8bae9e91d045\", \"width\": 640, \"height\": 405}, {\"url\": \"https://preview.redd.it/jp8d2glmby131.jpg?width=960\\u0026crop=smart\\u0026auto=webp\\u0026s=b6a51f80f764a8f45af6412d264be8f08660669e\", \"width\": 960, \"height\": 608}, {\"url\": \"https://preview.redd.it/jp8d2glmby131.jpg?width=1080\\u0026crop=smart\\u0026auto=webp\\u0026s=babdcb79c3712b9906fbc3d490620e4a1c931193\", \"width\": 1080, \"height\": 684}], \"variants\": {}, \"id\": \"nc2rqDewvpS__Va-XyZ1KYADA-5wgst2-tzXfcwuDKE\"}], \"enabled\": true}, \"all_awardings\": [], \"media_only\": false, \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"visited\": false, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2vsur\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"bvxrto\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"T0bia5\", \"num_crossposts\": 0, \"num_comments\": 5, \"send_replies\": true, [...]
