{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/chvrches/comments/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"message\": \"Unauthorized\", \"error\": 401}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "Content-Type": ["application/json; charset=UTF-8"], "www-authenticate": ["Bearer realm=\"reddit\", error=\"invalid_token\""]}, "status": {"message": "Unauthorized", "code": 401}, "url": "https://oauth.reddit.com/r/chvrches/comments/?raw_json=1&limit=100"}, "recorded_at": "2019-06-07T13:32:11"}, {"request": {"body": {"string": "grant_type=refresh_token&refresh_token=**********", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/x-www-form-urlencoded"], "Authorization": ["**********"]}, "method": "POST", "uri": "https://www.reddit.com/api/v1/access_token"}, "response": {"body": {"string": "{\"access_token\": \"**********\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"edit history identity mysubreddits privatemessages read report save submit subscribe vote\"}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "Content-Type": ["application/json; charset=UTF-8"]}, "status": {"message": "OK", "code": 200}, "url": "https://www.reddit.com/api/v1/access_token"}, "recorded_at": "2019-06-07T13:32:12"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/chvrches/comments/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_bxrgol\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"eq99f4l\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"Baron-Kingsnorth\", \"num_comments\": 1, \"can_mod_post\": false, \"created_utc\": 1559894615.0, \"send_replies\": true, \"parent_id\": \"t3_bxrgol\", \"score\": 1, \"author_fullname\": \"t2_emcycs7\", \"over_18\": false, \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2vsur\", \"body\": \"not sure why it popped into my head but it would be interesting to see them cover holding out for a hero by Bonnie Tyler lol\", \"link_title\": \"Songs the band could cover\", \"author_flair_css_class\": null, \"name\": \"t1_eq99f4l\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Enot sure why it popped into my head but it would be interesting to see them cover holding out for a hero by Bonnie Tyler lol\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"stickied\": false, \"can_gild\": true, \"subreddit\": \"chvrches\", \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/chvrches/comments/bxrgol/songs_the_band_could_cover/eq99f4l/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/chvrches/comments/bxrgol/songs_the_band_could_cover/\", \"report_reasons\": null, \"link_author\": \"Covfan\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/chvrches/comments/bxrgol/songs_the_band_could_cover/\", \"created\": 1559923415.0, \"collapsed\": false, \"subreddit_name_prefixed\": \"r/chvrches\", \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_bxpnce\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"eq967qt\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": [...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/chvrches/comments/?raw_json=1&limit=100&before=t1_eq99f4l"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["584.0"], "x-ratelimit-used": ["16"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["467"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/chvrches/comments/?raw_json=1&limit=100&before=t1_eq99f4l"}, "recorded_at": "2019-06-07T13:32:13"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/chvrches/new?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"chvrches\", \"selftext\": \"Anybody have any songs that they feel the band could pull off in their own distinctive style?\\n\\nMine is Run With Us by Lisa Lougheed. I just think that it'd suit them and their version could either be a fast dancey type track or a slow ballad. \\n\\nhttps://youtu.be/h6Zf_lnulDA\", \"author_fullname\": \"t2_cb6d6\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Songs the band could cover\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/chvrches\", \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": null, \"hide_score\": false, \"name\": \"t3_bxrgol\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 3, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": null, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 3, \"approved_by\": null, \"thumbnail\": \"self\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"self\", \"content_categories\": null, \"is_self\": true, \"mod_note\": null, \"created\": 1559919524.0, \"link_flair_type\": \"text\", \"wls\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"self.chvrches\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EAnybody have any songs that they feel the band could pull off in their own distinctive style?\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EMine is Run With Us by Lisa Lougheed. I just think that it\\u0026#39;d suit them and their version could either be a fast dancey type track or a slow ballad. \\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"https://youtu.be/h6Zf_lnulDA\\\"\\u003Ehttps://youtu.be/h6Zf_lnulDA\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/4WsnT56vriT3Un1DD8GRXZNeTJi2TFFuDZkOWTx4C20.jpg?auto=webp\\u0026s=c068e3e20ef8486c2372499d799d36092fb018b4\", \"width\": 480, \"height\": 360}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/4WsnT56vriT3Un1DD8GRXZNeTJi2TFFuDZkOWTx4C20.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=b31c341f79bcb24a135e4a67e689b37bbff4ad2d\", \"width\": 108, \"height\": 81}, {\"url\": \"https://external-preview.redd.it/4WsnT56vriT3Un1DD8GRXZNeTJi2TFFuDZkOWTx4C20.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=f26d51cabfb6e55a47d7f438535c36677ef9ff82\", \"width\": 216, \"height\": 162}, {\"url\": \"https://external-preview.redd.it/4WsnT56vriT3Un1DD8GRXZNeTJi2TFFuDZkOWTx4C20.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=e8842a8292eb55b100442849dddc5acb15e7053c\", \"width\": 320, \"height\": 240}], \"variants\": {}, \"id\": \"4sPivOnpNQw7RxwCEh0ywLELHTyBidC-KOM9sZkVioE\"}], \"enabled\": false}, \"all_awardings\": [], \"media_only\": false, \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"visited\": false, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2vsur\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"bxrgol\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"Covfan\", \"num_crossposts\": 0, \"num_comments\": 1, \"send_replies\": true, \"whitelist_status\": null, \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/chvrches/comments/bxrgol/songs_the_band_could_cover/\", \"parent_whitelist_status\": null, \"stickied\": false, \"url\": \"https://www.reddit.com/r/chvrches/comments/bxrgol/songs_the_band_could_cover/\", \"subreddit_subscribers\": 6353, \"created_utc\": 1559890724.0, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"chvrches\", \"selftext\": \"\", \"author_fullname\": \"t2_sdr7n\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Brrrrr it\\u2019s cold outside\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/chvrches\", \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 140, \"hide_score\": false, \"name\": \"t3_b[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/chvrches/new?raw_json=1&limit=100&before=t3_bxrgol"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["582.0"], "x-ratelimit-used": ["18"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["464"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/chvrches/new?raw_json=1&limit=100&before=t3_bxrgol"}, "recorded_at": "2019-06-07T13:32:16"}, [...]
