interactions:
- request:
    body: !!python/unicode code=**********&grant_type=authorization_code&redirect_uri=http%3A%2F%2F127.0.0.1%3A17973
    headers:
      !!python/unicode Authorization: [!!python/unicode '**********']
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body: {string: !!python/unicode '{"access_token": "**********", "token_type":
        "bearer", "expires_in": 3600, "refresh_token": "**********", "scope": "edit
        history identity mysubreddits privatemessages read report save submit subscribe
        vote"}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-moose: [majestic]
    status: {code: 200, message: OK}
version: 1
