interactions:
- request:
    body: !!python/unicode '{"platform": "Linux-4.15.0-50-generic-x86_64-with-Ubuntu-16.04-xenial",
      "package_version": "6.2.0", "python_version": "2.7.12", "package_name": "praw"}'
    headers:
      content-type: [application/json]
    method: PUT
    uri: http://updatechecker.bryceboe.com/check
  response:
    body: {string: !!python/unicode "{\n  \"success\": false\n}\n"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode code=**********&grant_type=authorization_code&redirect_uri=http%3A%2F%2F127.0.0.1%3A17973
    headers:
      !!python/unicode Authorization: [!!python/unicode '**********']
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body: {string: !!python/unicode '{"access_token": "301734740635-MBb1HA6rwsLJk00is2BqFw7SC38",
        "token_type": "bearer", "expires_in": 3600, "refresh_token": "301734740635-c8EaXCySQ0eG4eh1V9LlCh6T11k",
        "scope": "edit history identity mysubreddits privatemessages read report save
        submit subscribe vote"}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-moose: [majestic]
    status: {code: 200, message: OK}
version: 1
