{"http_interactions": [{"request": {"body": {"string": "grant_type=refresh_token&refresh_token=**********", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/x-www-form-urlencoded"], "Authorization": ["**********"]}, "method": "POST", "uri": "https://www.reddit.com/api/v1/access_token"}, "response": {"body": {"string": "{\"access_token\": \"**********\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"edit history identity mysubreddits privatemessages read report save submit subscribe vote\"}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "Content-Type": ["application/json; charset=UTF-8"]}, "status": {"message": "OK", "code": 200}, "url": "https://www.reddit.com/api/v1/access_token"}, "recorded_at": "2019-08-12T03:09:56"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/subreddits/mine/subscriber/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 3, \"children\": [{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": null, \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": true, \"wiki_enabled\": null, \"user_is_muted\": false, \"user_can_flair_in_sr\": null, \"display_name\": \"emacs\", \"header_img\": \"https://f.thumbs.redditmedia.com/1CBmBnoqVxNCXdVS.png\", \"title\": \"M-x emacs-reddit\", \"icon_size\": null, \"primary_color\": \"\", \"active_user_count\": null, \"icon_img\": \"\", \"display_name_prefixed\": \"r/emacs\", \"accounts_active\": null, \"public_traffic\": false, \"subscribers\": 31522, \"user_flair_richtext\": [], \"videostream_links_count\": 0, \"name\": \"t5_2qhwu\", \"quarantine\": false, \"hide_ads\": false, \"emojis_enabled\": false, \"advertiser_category\": \"\", \"public_description\": \"The extensible, customizable, self-documenting real-time display editor.\", \"comment_score_hide_mins\": 0, \"user_has_favorited\": false, \"user_flair_template_id\": null, \"community_icon\": \"\", \"banner_background_image\": \"\", \"original_content_tag_enabled\": false, \"submit_text\": \"\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EA sub-reddit for the timeless and infinitely powerful editor. \\u003Ca href=\\\"http://emacsrocks.com/\\\"\\u003EWant to see what Emacs is capable of?!\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cstrong\\u003EGet Emacs\\u003C/strong\\u003E\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003E\\u003Ca href=\\\"http://ftp.gnu.org/gnu/emacs/windows/\\\"\\u003EWindows\\u003C/a\\u003E\\u003C/li\\u003E\\n\[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_ce1o53\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"ewni8xw\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"ancientweird\", \"num_comments\": 28, \"can_mod_post\": false, \"created_utc\": 1565578991.0, \"send_replies\": true, \"parent_id\": \"t1_eu0q68z\", \"score\": 1, \"author_fullname\": \"t2_31afc\", \"over_18\": false, \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2qhwu\", \"body\": \"Until Emacs takes over Linux and then itself.\", \"link_title\": \"Emacs on Linux is an amazing environment\", \"author_flair_css_class\": null, \"name\": \"t1_ewni8xw\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EUntil Emacs takes over Linux and then itself.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"stickied\": false, \"can_gild\": true, \"subreddit\": \"emacs\", \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/emacs/comments/ce1o53/emacs_on_linux_is_an_amazing_environment/ewni8xw/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/emacs/comments/ce1o53/emacs_on_linux_is_an_amazing_environment/\", \"report_reasons\": null, \"link_author\": \"FOSHavoc\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/emacs/comments/ce1o53/emacs_on_linux_is_an_amazing_environment/\", \"created\": 1565607791.0, \"collapsed\": false, \"subreddit_name_prefixed\": \"r/emacs\", \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_cp4msp\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"ewnfqhn\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": [...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100&before=t1_ewni8xw"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["597.0"], "x-ratelimit-used": ["3"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["4"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/emacs/comments/?raw_json=1&limit=100&before=t1_ewni8xw"}, "recorded_at": "2019-08-12T03:09:56"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"Finder-like copy/paste/move on Mac: [https://github.com/casouri/trivial-copy](https://github.com/casouri/trivial-copy)\\n\\nBasically you can copy files to system pasteboard and paste from it in dired, instead of typing path.\", \"author_fullname\": \"t2_14cg51\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Trivial-copy\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/emacs\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"hide_score\": true, \"name\": \"t3_cp6bsn\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 1, \"total_awards_received\": 0, \"media_embed\": {}, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 1, \"approved_by\": null, \"thumbnail\": \"\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": true, \"mod_note\": null, \"created\": 1565606610.0, \"link_flair_type\": \"text\", \"wls\": 6, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"self.emacs\", \"allow_live_comments\": false, \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EFinder-like copy/paste/move on Mac: \\u003Ca href=\\\"https://github.com/casouri/trivial-copy\\\"\\u003Ehttps://github.com/casouri/trivial-copy\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EBasically you can copy files to system pasteboard and paste from it in dired, instead of typing path.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"media_only\": false, \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"visited\": false, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qhwu\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"cp6bsn\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"casouri\", \"num_crossposts\": 0, \"num_comments\": 0, \"send_replies\": true, \"whitelist_status\": \"all_ads\", \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/emacs/comments/cp6bsn/trivialcopy/\", \"parent_whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://www.reddit.com/r/emacs/comments/cp6bsn/trivialcopy/\", \"subreddit_subscribers\": 31522, \"created_utc\": 1565577810.0, \"discussion_type\": null, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"emacs\", \"selftext\": \"I am having a confusing moment with Helm M-x. I forgot my key binding for org-agenda, so naturally I M-x and type in \\\"org agenda\\\" (note the space). I don't see the entry anywhere! But when I redo it with \\\"org-agenda\\\" (the actual command name) it's right there on top, of course.\\n\\nAm I missing something normal in Helm (I blanked on one of my most used bindings, so it's possi[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100&before=t3_cp6bsn"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}", "encoding": "UTF-8"}, "headers": {"X-Moose": ["majestic"], "x-ratelimit-remaining": ["595.0"], "x-ratelimit-used": ["5"], "Content-Type": ["application/json; charset=UTF-8"], "x-ratelimit-reset": ["3"]}, "status": {"message": "OK", "code": 200}, "url": "https://oauth.reddit.com/r/emacs/new?raw_json=1&limit=100&before=t3_cp6bsn"}, "recorded_at": "2019-08-12T03:09:57"}, {"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["bearer **********"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/orgmode/comments/?raw_json=1&limit=100"}, "response": {"body": {"string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"t[...]
